<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/header :: header-css"/>
</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='question')"/>
<main class="container">
  <div class="bg-light p-5 rounded">
    <div class="row">
      <div class="col-md-6">
<!--        <p th:text="'Nb de classes : ' + ${user.topics.size}"</p>-->
        <label for="changeTopic" th:text="#{topic}">Topic</label>
        <select id="changeTopic" onchange="window.location = this.options[this.selectedIndex].value;">
          <option th:selected="${selectedTopic == null}"
                  value=""
                  disabled
                  th:text="#{topic.choice}"
           >-- Choose a topic
          </option>
          <option th:each="topic : ${currentUser.subscribedTopics}"
                  th:value="'/question?id-selected-topic=' + ${topic.id}"
                  value=""
                  th:text="${topic.visible ? '' : '(*)'} + ' ' + ${topic.name}"
                  th:selected="${selectedTopic != null and topic.id == selectedTopic.id}">
          </option>
        </select>
      </div>

      <div class="col-md-6">
        <div class="float-end">
          <label for="changeScope" th:text="#{scope}">Scope</label>
          <select id="changeScope" onchange="window.location = this.options[this.selectedIndex].value;">
            <option th:selected="${selectedScope == null}"
                    value=""
                    disabled
                    th:text="#{scope.choice}"
            >-- Choose a scope
            </option>
            <div th:if="${selectedTopic != null}">
            <option  th:each="scope : ${selectedTopic.scopes}"
                    th:value="'/question?id-selected-topic=' + ${selectedTopic.id} +'&id-selected-scope=' + ${scope.id}"
                    value=""
                    th:text="${scope.name}"
                    th:selected="${selectedScope != null and selectedScope.id == scope.id}">
            </option>
            </div>
          </select>
<!--        <label for="filterByScope">Scope</label>-->
<!--        <select id="filterByScope">-->
<!--          <option selected value="/quiz/en/question/classscope/0/">All Scopes</option>-->
<!--          <option value="/quiz/en/question/classscope/42/">Test Unitaire</option>-->
<!--          <option value="/quiz/en/question/classscope/43/">Analyse</option>-->
<!--          <option value="/quiz/en/question/classscope/45/">Qualité-Logiciel</option>-->
<!--          <option value="/quiz/en/question/classscope/50/">GIT</option>-->
<!--        </select>-->

      </div>
      </div>
    </div>
    <h5 th:text="${#lists.size(questions)}"></h5>
    <div class="table-responsive ">
      <table class="table table-striped table-condensed">
        <thead>
        <tr>
          <th>Name</th>
          <th>Designer(s)</th>
          <th>Creation date</th>
          <th>Operations</th>
          <th>Rating</th>
          <th>Users rating</th>
          <th>Scope</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td title="" class="public">analyse-1</td>
          <td>okpu</td>
          <td>25/03/2020 14:06</td>
          <td>
            <a href="/quiz/en/question/37">play</a>

          </td>
          <td><input id="_37" class="rating" value="2.75"
                     data-size="xxs"
                     data-show-clear="false"
                     data-show-caption="false"
                     readonly="true"/>

          </td>
          <td> (2)</td>
          <td> Analyse</td>

        </tr>
        <tr>
          <td title="" class="public">analyse-2</td>
          <td>okpu</td>
          <td>25/03/2020 14:44</td>
          <td>
            <a href="/quiz/en/question/38">play</a>

          </td>
          <td><input id="_38" class="rating" value="2"
                     data-size="xxs"
                     data-show-clear="false"
                     data-show-caption="false"
                     readonly="true"/>

          </td>
          <td> (1)</td>
          <td> Analyse</td>

        </tr>
        </tbody>
      </table>
    </div>

    <a th:if="${selectedTopic != null}" href="question/new" th:href="@{/question/new/{idtopic}/{idscope}(idtopic=${selectedTopic!=null?selectedTopic.id:''}, idscope=${selectedScope!=null?selectedScope.id:''})}"  th:text="#{question.new}" class="btn btn-primary btn-sm" role="button">
      Add a new question
    </a>

    <span class="float-end"><a href="/quiz/en/question/moodleexport" class="btn btn-secondary btn-sm " role="button" download="export-quizbe-SIO22-LDV-SLAM-97questions-2022/01/12.xml">Export Moodle</a></span>
    <span class="float-end">&nbsp;&nbsp;</span>
    <span class="float-end"><a href="/quiz/en/question/rawexport" class="btn btn-secondary btn-sm" role="button" download="export-quizbe-SIO22-LDV-SLAM-97questions-2022/01/12.html">Export RAW</a></span>

  </div>



</main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
