<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/header :: header-css"/>

</head>
<body>
<div th:replace="fragments/header :: menu(activeTab='question')"/>
<main class="container">
  <div class="card">
    <div class="card-header">
      <h4 class="panel-title d-flex justify-content-between bd-highlight mb-3">
        <div class="p-2 bd-highlight" th:text="${question.designer} + '~' + ${question.codesigner}"></div>
        <div class="p-2 bd-highlight" th:text="${question.name}"></div>
        <div class="p-2 bd-highlight" th:text="${question.topic.name + ' ~ ' +  question.scope.name}"></div>
      </h4>
    </div>
    <div class="card-body">
      <div class="form-group">
        <div>
          <label for="sentence" class="form-label">Question</label>
          <textarea class="sentence form-control" id="sentence" rows="5" readonly th:text="${question.sentence}">
          </textarea>
        </div>
      </div>
      <div class="form-group">
        <table class="table table-striped">
          <thead>
          <th>Your choice (?? TODO how.expected ??)
            <!--            if (expectedChoices > 0 and expectedChoices < question.responses.length-->
          </th>
          <th>Proposition</th>
          <th>
            <a onclick="hideShowValues();"> Value </a>
            <!-- 'watchValue' = temoin de visibilité de la colonne (c'est une astuce, voir hideShowValues() ) -->
            <span id='watchValue'  hidden=true class="itemValue"></span>
          </th>
          </thead>
          <tbody>
          <tr th:each="resp, iter : ${question.responses}">
            <td>
              <input th:id="${'c' + resp.id}" class="userChoice"
                     type="checkbox" onClick='onUserChoice()'/>
              <label th:id="${'f' + resp.id}" class="feedback" hidden="true" style='font-style: italic; display: none'
                     th:text="'&#45;&#45;' +${resp.feedback}"> </label>
            </td>
            <td th:text="${resp.proposition}"></td>
            <td>
              <label>
                <span th:id="${'v' + resp.id}" class="itemValue" style='display: none' th:text="${resp.value}"></span>
                &nbsp;
              </label>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
    <div class="card-footer">
      <div class="panel-title d-flex justify-content-between bd-highlight mb-3">
        <div class="p-2 bd-highlight">
          <a id='idGoodChoice' style="display: none"
             class="btn btn-success glyphicon glyphicon-thumbs-up" onclick="showFeedBack();">
            good.user.submit.choice</a>
          <a id='idBadChoice' style="display:none"
             class="btn btn-danger glyphicon glyphicon-thumbs-down" onclick="showFeedBack();">
            bad.user.submit.choice </a>
          <a id='idFeedBack' style="display:none"
             class=" btn glyphicon glyphicon-question-sign" onclick="showFeedBack();"> show.feedback </a>
        </div>
        <div class="p-2 bd-highlight"></div>
        <div class="p-2 bd-highlight">
          <a class="btn btn-success" onclick="checkUserChoice();"> === user.check === </a>
          &nbsp;<a href="#" class="btn btn-link">edit if designer (or codesigner)</a>
        </div>
      </div>
    </div>
  </div>

  <!--  <div class="row">-->
  <!--    <div class="col-sm-6">-->
  <!--      {% if isDesigner or isCoDesigner %}-->
  <!--      <input id='idRating' data-size="xs"-->
  <!--             data-default-caption="{{'form.question.avgrating' | trans }}"-->
  <!--             data-star-captions="{}"-->
  <!--             data-clear-caption="{{'form.question.avgrating' | trans }}"-->
  <!--             data-clear-button='' value="{{rating}}"/>-->
  <!--      {% else %}-->
  <!--      <input id='idRating'-->
  <!--             data-default-caption="{{'form.question.qupdaterating' | trans }}"-->
  <!--             data-star-captions="{}"-->
  <!--             data-clear-caption="{{'form.question.qcreaterating' | trans }}"-->
  <!--             data-show-caption='true'-->
  <!--             data-step= '.5'-->
  <!--             data-size="sm" value="{{rating}}" />-->
  <!--      {%endif%}-->
  <!--    </div>-->
  <!--    <div class="col-sm-6" style="margin-top: 1em">-->
  <!--      <spam class="pull-right" style="font-size: medium">-->

  <!--        {% if first != false %}-->
  <!--        <a href="{{ path('question_show', { 'id': first }) }}">|&lt;</a>&nbsp;-->
  <!--        {% else %}-->
  <!--        |&lt;-->
  <!--        {% endif %}-->
  <!--        {% if prev != false %}-->
  <!--        <a href="{{ path('question_show', { 'id': prev }) }}">&lt;</a>&nbsp;-->
  <!--        {% else %}-->
  <!--        &lt;-->
  <!--        {% endif %}-->
  <!--        {% if next != false %}-->
  <!--        <a href="{{ path('question_show', { 'id': next }) }}">&gt;</a>&nbsp;-->
  <!--        {% else %}-->
  <!--        &gt;-->
  <!--        {% endif %}-->
  <!--        {% if last != false %}-->
  <!--        <a href="{{ path('question_show', { 'id': last }) }}">&gt;|</a>&nbsp;-->
  <!--        {% else %}-->
  <!--        &gt;|-->
  <!--        {% endif %}-->
  <!--      </spam>-->
  <!--    </div>-->
  <!--  </div>-->

</main>

<div th:replace="fragments/footer.html :: footer"/>

<script th:inline="javascript">
  function checkUserChoice() {
    let res = 0.0;
    let elts = document.getElementsByClassName("userChoice");
    let i;
    for (i = 0; i < elts.length; i++) {
      if (elts[i].checked == true) {
        let idValue = "v" + elts[i].id.substring(1);
        res = res + parseFloat(document.getElementById(idValue).innerHTML);
      }
    }
    document.getElementById('idFeedBack').hidden = true;
    // $('#idFeedBack').hide();
    /*<![CDATA[*/
    let nbGoodChoice = [[${question.getExpectedGoodChoices}]];
    /*]]>*/
    console.log("nbGoodChoice : " + nbGoodChoice + "res = " + res);
    if (res == nbGoodChoice) {
      hide('idBadChoice');
      show('idGoodChoice');
    } else {
      show('idBadChoice');
      hide('idGoodChoice');
    }
    show('idFeedBack');
  }

  function hideShowValues() {
    let elts = document.getElementsByClassName("itemValue");
    if (document.getElementById('watchValue').hidden == false) {
      for (let i = 0; i < elts.length; i++) {
        elts[i].hidden = true;
        elts[i].style = "display: none";
      }
    } else {
      for (let i = 0; i < elts.length; i++) {
        elts[i].hidden = false;
        elts[i].style = "display: inline";
      }
    }
  }

  function showFeedBack() {
    let elts = document.getElementsByClassName("feedback");
    if (elts[0].hidden == true || elts[0].hidden == undefined ) {
      for (let i = 0; i < elts.length; i++) {
        elts[i].hidden = false;
        elts[i].setAttribute("style", "display: inline-block");
      }
    } else {
      for (let i = 0; i < elts.length; i++) {
        elts[i].setAttribute("style", "display: none");
        elts[i].hidden = true;
      }
    }
  }

  function hideResultCheckChoice() {
    hide('idGoodChoice');
    hide('idBadChoice');
  }

  function onUserChoice() {
    hideResultCheckChoice();
  }

  function show(eltName) {
    document.getElementById(eltName).hidden = false;
    document.getElementById(eltName).style = "display: inline";
  }

  function hide(eltName) {
    document.getElementById(eltName).hidden = true;
    document.getElementById(eltName).style = "display: none";
  }

</script>

</body>
</html>
