<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: menu(activeTab='subscribedTopics')"/>

  <main class="text-center">
    <div th:switch="${topics}">
      <h2 th:case="null">No topic yet!</h2>
      <div th:case="*">
        <h2 th:text="#{topics.subscribed}">subscribed topics</h2>
              <form th:each="topic : ${topics}" th:action="@{/topic/subscribed}" method="post" style="display:inline-block" class="p-1">
                <input type="hidden" name="id" th:value="${topic.id}">
                <div class="form-check">
                  <input onChange="this.form.submit()" class="form-check-input"
                         type="checkbox"
                         th:id="'flexCheckChecked' + ${topic.id}" id="flexCheckChecked"
                         name="subscribe" th:checked="${currentUser.isSubscribed(topic)}">
                  <label class="form-check-label" th:for="'flexCheckChecked' + ${topic.id}" th:text="${topic.name}">&nbsp;</label>
                </div>
              </form>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p><a href="add" th:href="@{/topic/add}">Add a new topic</a></p>
    </div>

  </main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
