<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <th:block th:replace="fragments/header :: header-css"/>
</head>

<body>

<div th:replace="fragments/header :: menu(activeTab='classroom')"/>

  <main class="text-center">
    <div th:switch="${classrooms}">
      <h2 th:case="null">No classroom yet!</h2>
      <div th:case="*">
        <h2>My classrooms</h2>
        <table class="table table-striped">
          <thead>
          <tr>
            <th>Name</th>
            <th>Operations</th>
          </tr>
          </thead>
          <tbody>
          <tr th:each="classroom : ${classrooms}">
            <td th:text="${classroom.name}"></td>
            <td><a th:href="@{/edit/{id}(id=${classroom.id})}">Edit</a>
              &nbsp;/&nbsp;
              <a th:href="@{/delete/{id}(id=${classroom.id})}">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
      <p><a href="add" th:href="@{classroom/add}">Add a new classroom</a></p>
    </div>

  </main>

<div th:replace="fragments/footer.html :: footer"/>

</body>
</html>
