
/* Question index */

.private  {
  border-style: dashed;
  border-left-width: thin;
  border-top-style: none;
  border-right-style: none;
  border-bottom-style: none;
  /* background-color: #008000; */

}
.private::before {
  content: "(*) ";
}


/* Question show */

div.sentence  {
   background-color: #b2dba1;
   padding-right: 15px;
   padding-left: 15px;
   border-color: #e7e7e7;
   border-radius: 5px;
 }

 tr.response {

 }

 div.sentence pre {
   background-color: inherit;
   border: none
 }

 .itemValue {
   display: none;
 }

 .feedBack {
   display: none;
 }

ul.items_prototype li {
   list-style-type: none;
}

/* redefine from bootstrap (Question) */
code {
    padding: 2px 4px;
    font-size: 90%;
    color: #000000;
    background-color: #f9f2f4;
    border-radius: 4px;
}

.active  {
    border-bottom-color: lightgray;
    border-bottom-style: solid;
}

.validation-message {
    border-style: none;
    color: red;
}

/* applique la couleur utilisée par .nav-link.  Voir header logout */
.color-nav-link a {
    color: rgba(255,255,255,.55);
}

